// style for HostNavbar.jsx
.host-navigation {
  font-size: 0.85rem;
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: flex-start;
  gap: 5vw;

  a {
    position: relative;
    opacity: 0.85;
    &:hover {
      opacity: 1;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      transform-origin: bottom right;
      transform: scaleX(0);
      background-color: var(--clr-main);
      transition: transform ease 0.3s;
    }
  }

  a.active {
    position: relative;
    &::after {
      transform: origin bottom left;
      transform: scaleX(1);
    }
  }
}

// style for HostVans.jsx
.host-page {
  min-height: 70vh;
  width: 80%;
  max-width: 700px;
  margin: 1.5rem auto;
}

.host-vans {
  overflow: hidden;

  .host-vans-title {
    margin-bottom: 1rem;
  }

  .host-vans-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    // style for HostVanListCard.jsx
    .host-van-card {
      display: flex;
      align-items: center;
      gap: 5vw;

      background-color: var(--clr-bg-two);
      padding: 1rem;
      border-radius: 0.3rem;

      img {
        width: max(100px, 25%);
        border-radius: 0.25rem;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      }

      p {
        font-weight: 500;
      }

      .host-van-info {
        h3 {
          font-weight: 600;
        }
      }
    }
  }
}

// style for HostVanDetail.jsx
.host-van-detail {
  & > a {
    text-decoration: none;
    font-weight: 500;
    text-decoration: underline 1.5px;
  }

  .host-van-detail-container {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--clr-bg-two);
    padding: 1.5rem;
    border-radius: 0.2rem;
    .host-van-detail-box {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;

      img {
        width: max(120px, 10vw);
        height: max(120px, 10vw);
        aspect-ratio: 1/1;
        border-radius: 0.2rem;
      }

      .detail-info {
        display: flex;
        flex-direction: column;

        .btn {
          width: max-content;
          padding: 0.1rem 0.6rem;
        }
      }
    }

    .van-navigation {
      display: flex;
      gap: 1.5rem;
      font-size: 0.9rem;
      opacity: 0.8;

      a:hover {
        opacity: 0.8;
      }

      a.active {
        text-decoration: underline;
        opacity: 1;
      }
    }

    .host-van-detail-info {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      font-size: 0.85rem;
      span {
        font-weight: 500;
        padding-right: 0.2rem;
      }
    }

    .host-van-detail-pricing {
      font-size: 1.2rem;

      span {
        font-weight: 500;
      }
    }
  }
}

.simple {
  background-color: #e17654;
}

.rugged {
  background-color: #115e59;
}

.luxury {
  background-color: #161616;
}
